<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>
<b>Elon Reeve Musk </b>FRS is a business magnate and investor. He is the founder, CEO and chief engineer of SpaceX; angel investor, CEO and product architect of Tesla, Inc.; owner and CEO of Twitter, Inc.; founder of the Boring Company; co-founder of Neuralink and OpenAI; and president of the philanthropic Musk Foundation.
 </p>
 <p>
<br><b>Born:</b> 28 June 1971 (age 51 years), Pretoria, South Africa
<br><b>Net worth:</b> 20,240 crores USD (2023) Forbes
<br><b>Children:</b> X AE A-XII Musk, Vivian Jenna Wilson, MORE
<br><b>Nationality:</b> American, Canadian, South African
<br><b>Spouse:</b> Talulah Riley (m. 2013–2016), Talulah Riley (m. 2010–2012), Justine Musk (m. 2000–2008)
<br><b>Siblings:</b> Kimbal Musk, Tosca Musk
</p>
</div>
{{>footer}}
</body>
</html>